[workspace]
members = ["mapper"]

[package]
name = "quadrank"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.51", features = ["derive"] }
mem_dbg = "0.3.2"
packed-seq = "4.2.0"
# qwt = "0.3.1"
qwt.path = "../forks/qwt"
rand = "0.9.2"
regex = "1.12.2"
sux = "0.9.1"

[profile.release]
debug = true

[patch.crates-io]
mem_dbg = { git = "https://github.com/zommiommy/mem_dbg-rs.git", branch = "main" }
