[package]
name = "dna-rank"
version = "0.1.0"
edition = "2024"

[dependencies]
cassette = "0.3.0"
futures = "0.3.31"
futures-lite = "2.6.1"
mem_dbg = "0.3.2"
packed-seq = "4.2.0"
rand = "0.9.2"
smol = "2.0.2"

[profile.release]
debug = true
